/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container Principal com Grid */
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    gap: 20px;
}

/* Responsividade Básica: Se a tela for pequena, vira uma coluna */
@media (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

h1 {
    font-size: 3.5rem; /* Fonte grande e responsiva */
    line-height: 1.2;
    color: #1f0610;
    margin-bottom: 1rem;
}

h1 span {
    color: #f790c8;
}

p {
    font-size: 1.2rem;
    color: #e989cc;
    margin-bottom: 2rem;
}
.btn-cta {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e91589;
    color: rgb(26, 18, 18);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn-cta:hover {
    background-color: #fff8fe;
    transform: translateY(-5px); /* Efeito de levante */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

